---
import { CertificationList } from '@/partials/CertificationList';
import { Hero } from '@/partials/Hero';
import { Resume } from '@/partials/Resume';
import { Skills } from '@/partials/Skills';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';

const { title } = AppConfig;
const { description } = AppConfig;
---

<html>
  <body>
    <Base head={{ title, description }}>
      <Hero />
      <Skills />
      <Resume />
      <CertificationList />
      <!-- <ProjectList /> -->
      <!-- <RecentPosts postList={lastThreePosts} /> -->
      <!-- <CTA /> -->
    </Base>
  </body>
</html>
